<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReviewDashboardService" 
                         maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tk5cdflwiis02/DashboardService/DashboardService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReviewDashboardService"
                contract="CodeFlowDashboardService.IReviewDashboardService"
                name="BasicHttpBinding_IReviewDashboardService" />
        </client>
    </system.serviceModel>
</configuration>