<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_KudosDomainServicesoap">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_KudosDomainServicesoap1">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kudos/Services/Kudos-WCFService-KudosDomainService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_KudosDomainServicesoap"
                contract="KudosDomainService.KudosDomainServicesoap" name="BasicHttpBinding_KudosDomainServicesoap" />
            <endpoint address="https://eelabs-iis-vm1.redmond.corp.microsoft.com/Services/Kudos-WCFService-KudosDomainService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_KudosDomainServicesoap1"
                contract="KudosDomainService.KudosDomainServicesoap" name="BasicHttpBinding_KudosDomainServicesoap1" />
        </client>
    </system.serviceModel>
</configuration>