<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_KudosDomainServicesoap">
                  <security mode="TransportCredentialOnly">
                      <transport clientCredentialType="Windows" />
                  </security>
              </binding>
              <binding name="BasicHttpBinding_KudosDomainServicesoap1">
                  <security mode="Transport">
                      <transport clientCredentialType="Windows" />
                  </security>
              </binding>
              <binding name="BasicHttpBinding_IReviewDashboardService" />
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="http://kudos/Services/Kudos-WCFService-KudosDomainService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_KudosDomainServicesoap" contract="KudosDomainService.KudosDomainServicesoap" name="BasicHttpBinding_KudosDomainServicesoap" />          
          <endpoint address="http://tk5cdflwiis02/DashboardService/DashboardService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReviewDashboardService" contract="CodeFlowDashboardService.IReviewDashboardService" name="BasicHttpBinding_IReviewDashboardService" />
      </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FUSE.Json" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5135.37473" newVersion="3.0.5135.37473" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FUSE.Weld.Base" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5135.37323" newVersion="1.0.5135.37323" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>