<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="PeopleStoreSoap" >
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Windows" />
                </security>
              </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="PeopleStoreSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://who/PeopleStore.asmx" binding="basicHttpBinding"
                bindingConfiguration="PeopleStoreSoap" contract="WhoServiceReference.PeopleStoreSoap"
                name="PeopleStoreSoap" />
            <endpoint address="http://who/PeopleStore.asmx" binding="customBinding"
                bindingConfiguration="PeopleStoreSoap12" contract="WhoServiceReference.PeopleStoreSoap"
                name="PeopleStoreSoap12" />
        </client>
    </system.serviceModel>
</configuration>